.element__like-counter {
  font-size: 13px;
  line-height: 16px;
  margin-top: 3px;
  color: black;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .element__like-counter {
    margin-right: 20px;
  }
}
