.popup__button-closed {
  appearance: none;
  background-image: url(../../../images/Close_Icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  padding: 0;
  top: -37px;
  right: -41px;
  width: 32px;
  height: 32px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.popup__button-closed:hover {
  opacity: 80%;
}

@media screen and (max-width: 768px) {
  .popup__button-closed {
    width: 20px;
    height: 20px;
    top: -37px;
    right: 0;
  }
}
