.profile__edit-button {
  appearance: none;
  background-color: black;
  width: 24px;
  height: 24px;
  border: 1px solid white;
  cursor: pointer;
  align-self: center;
  background-image: url(../../../images/Vector.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.profile__edit-button:hover {
  opacity: 60%;
}

@media screen and (max-width: 768px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: 7.5px;
  }
}
