.login-page__input {
    border-style: none;
    color: white;
    outline: none;
    border-bottom: 2px solid #ccc;
    background-color: black;
    margin-bottom: 57px;
    min-width: 358px;
}

.login-page__input:last-of-type {
    margin-bottom: 0;
}