.popup__input {
  border-radius: 2px;
  padding-bottom: 7px;
  border-style: none;
  font-family: inherit;
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 400;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.popup__input:focus {
  outline: none;
}

.popup__input::placeholder {
  color: #c4c4c4;
}